@import '_general';

main{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    gap: 30px;
}
.about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    gap: 30px;
    div{
        max-width: 450px;
        padding: 10px;
        flex: 1 0 200px;
    }
    img{
        width: 40%;
        max-width: 300px;
        flex: 1 0 200px;
    }
}
.history{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10%;
    img{
        width: 40%;
        max-width: 200px;
        flex: 1 0 200px;
    }
    div{
        width: 60%;
        max-width: 450px;
        padding: 30px;
        flex: 1 0 200px;
    }
}
.vision{
    background: url(../../images/about/bg.png);
    object-fit: contain;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
    color: white;
    p{
        font-size: large;
    }
}

.brandlist{
    overflow: hidden;
    height: 300px;
    text-align: center;
    .marquee-container {
        margin: 10px 0;
        overflow: hidden;
        white-space: nowrap;
        height: 50px;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
    }
    img {
        height: 50px;
        display: inline-block;
    }

    .ml img {
        animation: marqueel 10s linear infinite;
    }
    
    .mr img {
        animation: marqueer 10s linear infinite;
    }
}

@keyframes marqueel {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@keyframes marqueer {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}