body {
  font-family: Arial, sans-serif;
  margin: 0;
  word-break: break-word;
  padding: 0;
  max-width: 100%;
  text-align: right;
  overflow-x: hidden;
}

header {
  background-color: #9E0909;
  /* Navigation bar styles */
}
header .uppernav {
  background-color: #D81B1B;
  color: #fff;
  padding: 10px 15px;
}
header .uppernav .container {
  margin: auto;
  max-width: 1000px;
  gap: 10px;
}
header .uppernav .container .logo {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
}
header .uppernav .container .logo img {
  height: 40px;
}
header .uppernav .container #search-form {
  margin: auto;
  max-width: 300px;
  min-width: 100px;
  overflow: hidden;
  height: 25px;
  display: flex;
}
header .uppernav .container #search-form input {
  height: 6px;
  min-width: 100px;
  flex: 1 1 auto;
  float: left;
  padding: 10px;
}
header .uppernav .container #search-form button {
  flex: 1 1 auto;
  float: left;
  background-color: #111;
  padding: 5px 15px;
  cursor: pointer;
}
header .uppernav .container #search-form button img {
  width: 15px;
}
header .uppernav .container #rightnav {
  flex: 0 1 auto;
  display: flex;
  gap: 15px;
  width: 150px;
  margin-left: auto;
  align-items: center;
}
header .uppernav .container #rightnav #Cart {
  background-color: #111;
  color: #fff;
  width: 80px;
  padding: 5px 18px;
}
header .uppernav .container #rightnav #lang {
  color: white;
  text-decoration: none;
  font-size: small;
}
header nav {
  background-color: rgb(10, 10, 10);
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}
header nav a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
header nav a:hover {
  background-color: #333;
}
header nav .current-page {
  background-color: #9E0909;
}
header nav .current-page:hover {
  background-color: #ba2727;
}

main {
  margin: auto;
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footerbg {
  width: 100%;
  background-color: rgb(0, 0, 14);
  border-bottom: 1px solid white;
}

footer {
  max-width: 1200px;
  margin: auto;
  color: white;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
footer div {
  padding: 10px;
}
footer div h3 {
  border-bottom: 1px solid white;
  width: 120px;
  margin-left: auto;
}
footer div a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}
footer div a:hover {
  cursor: pointer;
  margin: 5px 0;
  background-color: rgb(0, 0, 50);
  padding: 5px;
}
footer div #img3links {
  width: 80%;
  display: flex;
  gap: 10px;
  justify-content: center;
}
footer div #img3links img {
  width: 20px;
  transition: all 0.5s ease;
}
footer div #img3links img:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.footercc {
  background-color: rgb(0, 0, 14);
  color: white;
  padding: 10px;
  text-align: center;
}

button {
  background-color: #D81B1B;
  color: white;
  width: 120px;
  padding: 5px;
  height: 35px;
  border: none;
  font-size: small;
  transition: all 0.5s ease;
}
button:hover {
  cursor: pointer;
  background-color: #e31111;
}

@media (1000px < width) {
  nav {
    justify-content: center;
    padding-right: 650px;
  }
}
@media (min-width: 600px) {
  .uppernav .container {
    display: grid;
    grid-template-areas: "logo search-form rightnav";
  }
  .uppernav .container .logo {
    grid-area: logo;
  }
  .uppernav .container #search-form {
    grid-area: search-form;
  }
  .uppernav .container #rightnav {
    grid-area: rightnav;
  }
}
@media (600px > width > 200px) {
  .uppernav .container {
    display: grid;
    grid-template-areas: "logo rightnav" "search-form search-form";
  }
  .uppernav .container .logo {
    grid-area: logo;
  }
  .uppernav .container #search-form {
    grid-area: search-form;
  }
  .uppernav .container #rightnav {
    grid-area: rightnav;
  }
}
main {
  margin: auto;
  max-width: 1000px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
main h2 {
  text-align: center;
}
main section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: auto;
  padding: 10px;
  max-width: 700px;
}
main section .cart_list {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 60vh;
  max-width: 700px;
  transition: width 0.3s ease;
}
main section .cart_list::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
main section .cart_list::-webkit-scrollbar-track {
  background: white;
}
main section .cart_list::-webkit-scrollbar-thumb {
  border: 1px solid black;
  background-color: rgb(3, 0, 36); /* color of the scroll thumb */
  border-radius: 2px; /* roundness of the scroll thumb */
}
main section .cart_list .product-item {
  cursor: default;
  padding: 15px;
  border: 1.5px solid #c1c1c1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
}
main section .cart_list .product-item:hover {
  transform: scale(1.05);
}
main section .cart_list .product-item p {
  margin: 7px;
}
main section .cart_list .product-item button {
  margin-left: auto;
  background-color: red;
  border: none;
}
main section .cart_list .product-item button:hover {
  background-color: red;
  cursor: pointer;
}
main section .cart_list .product-item div {
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  gap: 5px;
  align-items: center;
}
main section .cart_list .product-item div .plus_btn, main section .cart_list .product-item div .minus_btn {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px 10px;
  color: white;
  background-color: red;
}
main section .cart_list .product-item div .customer_quantity {
  border: 1px solid black;
  padding: 5px 15px;
}/*# sourceMappingURL=cart.css.map */