body {
  font-family: Arial, sans-serif;
  margin: 0;
  word-break: break-word;
  padding: 0;
  max-width: 100%;
  text-align: right;
  overflow-x: hidden;
}

header {
  background-color: #9E0909;
  /* Navigation bar styles */
}
header .uppernav {
  background-color: #D81B1B;
  color: #fff;
  padding: 10px 15px;
}
header .uppernav .container {
  margin: auto;
  max-width: 1000px;
  gap: 10px;
}
header .uppernav .container .logo {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
}
header .uppernav .container .logo img {
  height: 40px;
}
header .uppernav .container #search-form {
  margin: auto;
  max-width: 300px;
  min-width: 100px;
  overflow: hidden;
  height: 25px;
  display: flex;
}
header .uppernav .container #search-form input {
  height: 6px;
  min-width: 100px;
  flex: 1 1 auto;
  float: left;
  padding: 10px;
}
header .uppernav .container #search-form button {
  flex: 1 1 auto;
  float: left;
  background-color: #111;
  padding: 5px 15px;
  cursor: pointer;
}
header .uppernav .container #search-form button img {
  width: 15px;
}
header .uppernav .container #rightnav {
  flex: 0 1 auto;
  display: flex;
  gap: 15px;
  width: 150px;
  margin-left: auto;
  align-items: center;
}
header .uppernav .container #rightnav #Cart {
  background-color: #111;
  color: #fff;
  width: 80px;
  padding: 5px 18px;
}
header .uppernav .container #rightnav #lang {
  color: white;
  text-decoration: none;
  font-size: small;
}
header nav {
  background-color: rgb(10, 10, 10);
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}
header nav a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
header nav a:hover {
  background-color: #333;
}
header nav .current-page {
  background-color: #9E0909;
}
header nav .current-page:hover {
  background-color: #ba2727;
}

main {
  margin: auto;
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.footerbg {
  width: 100%;
  background-color: rgb(0, 0, 14);
  border-bottom: 1px solid white;
}

footer {
  max-width: 1200px;
  margin: auto;
  color: white;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
footer div {
  padding: 10px;
}
footer div h3 {
  border-bottom: 1px solid white;
  width: 120px;
  margin-left: auto;
}
footer div a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}
footer div a:hover {
  cursor: pointer;
  margin: 5px 0;
  background-color: rgb(0, 0, 50);
  padding: 5px;
}
footer div #img3links {
  width: 80%;
  display: flex;
  gap: 10px;
  justify-content: center;
}
footer div #img3links img {
  width: 20px;
  transition: all 0.5s ease;
}
footer div #img3links img:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.footercc {
  background-color: rgb(0, 0, 14);
  color: white;
  padding: 10px;
  text-align: center;
}

button {
  background-color: #D81B1B;
  color: white;
  width: 120px;
  padding: 5px;
  height: 35px;
  border: none;
  font-size: small;
  transition: all 0.5s ease;
}
button:hover {
  cursor: pointer;
  background-color: #e31111;
}

@media (1000px < width) {
  nav {
    justify-content: center;
    padding-right: 650px;
  }
}
@media (min-width: 600px) {
  .uppernav .container {
    display: grid;
    grid-template-areas: "logo search-form rightnav";
  }
  .uppernav .container .logo {
    grid-area: logo;
  }
  .uppernav .container #search-form {
    grid-area: search-form;
  }
  .uppernav .container #rightnav {
    grid-area: rightnav;
  }
}
@media (600px > width > 200px) {
  .uppernav .container {
    display: grid;
    grid-template-areas: "logo rightnav" "search-form search-form";
  }
  .uppernav .container .logo {
    grid-area: logo;
  }
  .uppernav .container #search-form {
    grid-area: search-form;
  }
  .uppernav .container #rightnav {
    grid-area: rightnav;
  }
}
.contact-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 20px;
  gap: 10px;
  margin: 20px;
  flex-wrap: wrap;
}
.contact-container .get-in-touch, .contact-container .stay-connected {
  width: 100%;
  max-width: 400px;
  padding: 10px;
}
.contact-container .get-in-touch h2 {
  margin-bottom: 20px;
}
.contact-container .get-in-touch form div {
  margin-bottom: 15px;
}
.contact-container .get-in-touch form label {
  display: block;
  margin-bottom: 5px;
}
.contact-container .get-in-touch form input, .contact-container .get-in-touch form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact-container .get-in-touch form button {
  background-color: #d30000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.contact-container .get-in-touch form button:hover {
  background-color: black;
  color: white;
}
.contact-container .stay-connected {
  background-image: url("../../images/bg-stayconnected.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  color: white; /* Adjust text color for better readability */
  background-color: rgba(0, 3, 66, 0.6941176471); /* Fallback background color */
}
.contact-container .stay-connected h2 {
  margin-bottom: 20px;
}
.contact-container .stay-connected p, .contact-container .stay-connected a {
  color: white;
}

section:last-child {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
section:last-child #location {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  max-width: 300px;
  flex-wrap: wrap;
}
section:last-child #location .texts {
  margin-bottom: 10px;
}
section:last-child #location .maping {
  width: 300px;
  height: 200px;
}
section:last-child #location .maping a {
  display: block;
  width: 100%;
  height: 100%;
}
section:last-child #location .maping a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
section:last-child iframe {
  border: 0;
  width: 100%;
  max-width: 450px;
  max-height: 400px;
  border-radius: 8px;
  margin-top: 20px;
}/*# sourceMappingURL=contact.css.map */