@import '_general';


main {
    margin: auto;
    max-width: 1200px;
    padding: 0;
    display: flex;
    flex-direction: row;

    aside {
        width: 30px; /* original width */
        color: white;
        padding: 5px;
        background-color: #0C0F1D;
        overflow: hidden;
        transition: width 0.3s ease, background-color 0.3s ease;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        button{
            background-color: red;
            color: white;
            width: 100%;
            height: fit-content;
            font-size: large;
        }

        #open-btn {
            display: block;
            margin: auto;
            background-color: #0C0F1D;
            margin-top: 0;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: navy;
            }
        }

        #close-btn {
            display: none;
            width: 100%;
            position: absolute;
            padding-right: 15px;
            background: none;
            border: none;
            text-align: right;
            color: white;
            font-size: 24px;
            cursor: pointer;

            &:hover {
                color: red;
            }
        }

        p, ul {
            display: none;
        }

        &.expanded {
            width: 150px;
            #open-btn {
                display: none;
            }
            #close-btn, p, ul {
                display: block;
            }
        }
    }

    section {
        flex: 1; /* Use remaining space */
        padding: 10px;
        overflow-y: scroll;
        height: 80vh;
        transition: width 0.3s ease;
    }

    aside.expanded ~ section { 
        flex: auto; /* Use remaining space */
    }
    #brand-filter li{
        margin: 5px;
        &:hover{
            cursor: pointer;
            color: #889cff;
        }
    }
}

/* Parent of cards */
#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 12px;
    height: fit-content;
}

/* Cards */
#products div {
    cursor: default;
    padding: 15px;
    border: 1.5px solid #c1c1c1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    &:hover{
        transform: scale(1.05);
    }
}

#products div p{
    margin: 7px;
}

#products div button{
    margin-left: auto;
    transition: border 0.3s ease;
    --c: #000000; /* the border color */
    --b: 2px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */
    
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
       var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    background-color: rgb(217, 0, 0);
    transition: .3s, background-position .3s .3s;
    border: none;
    &:hover {
        background-color: rgb(255, 0, 0);
        cursor: pointer;
        --_i: 100%;
        transition: .3s, background-size .3s .3s;
    }

}
